html {
    font-size: 18px;
    scroll-behavior: smooth;
}

.home-parallax-top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;

    /* The image used */
    background-image: url("/images/home-top.jpg");

    /* Set a specific height */
    min-height: 500px;
    max-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-parallax-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;

    /* The image used */
    background-image: url("/images/Leonie.jpg");

    /* Set a specific height */
    min-height: 500px;
    max-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blank-parallax-top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;

    /* Set a specific height */
    min-height: 500px;
    max-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blank-parallax-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;

    /* Set a specific height */
    min-height: 500px;
    max-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-strip {
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    z-index: 1;
}
.title-strip-carousel {
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  z-index: 1;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
img {
    pointer-events: none;
}


  /* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.carousel .item {
  height: 700px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.left.carousel-control.reviews, .right.carousel-control.reviews{
background: none;
height: auto;
}

.carousel-inner-reviews{
  max-height: 40vh;
}

.testimony-caption{
  max-width: 600px;
}

.reviews-item{
margin: auto;
margin-top: 5%;
width: 50%;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
  color: black;
}

.carousel.slide.reviews{
  max-height: 40vh;
}


.text-responsive, .text-responsive {
  font-size: calc(100% + 2vw + 2.5vh);
}
@media only screen and (max-width: 768px) {
  .home-parallax-top {
    width: 100vw;
    min-height: 200px;
    object-fit:cover;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-parallax-bottom {
    width: 100vw;
    object-fit:cover;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title-strip{
    position: absolute;
    top: 45px;
  }
  .title-strip-carousel{
    position: absolute;
    top: 240px;
  }
  .text-responsive-carousel {
    font-size: calc(100% + 2vw + 2vh);
  }
}